body {
    background-image: url(assets/Rectangle.jpg);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
textarea {
    resize: none;
    outline: none;
    border: none;
    background: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 17px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin-top: 20px;
 }
 .container {
     width: 1200px;
     margin: 0 auto;
 }
 .flex, .mes-wrp {
     display: flex;
     flex-direction: column;
 }
//  .mes-wrp {
//     flex-direction: column-reverse;
// }
 .input {
    background: rgba(118, 118, 128, 0.12);
    border-radius: 10px;
    padding: 6px 10px;
    border: none;
    outline: none;
    width: 200px;
    align-self: flex-end;
    color: rgba(60, 60, 67, 0.6);
    font-size: 17px;
 }
 .btn {
    background: #7480FF;
    box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04), 0px 2px 4px rgba(52, 60, 68, 0.16);
    border-radius: 8px;
    padding: 10px 48px;
    color: #FBFBFB;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    display: inline-block;
    width: 200px;
    border: none;
    outline: none;
    align-self: flex-end;
    cursor: pointer;
 }
.btn[disabled] {
    background: #D0CFCF;
}
.messege, .bot{
    align-self: flex-end;
    background: #E1FEC6;
    border: 0.5px solid #B5CADD;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 17px;
    line-height: 22px; 
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    opacity:0;
    transition: 0.3; /*Скорость перехода состояния элемента*/
    animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */

}
.author {
    // display: inline-block;
    text-align: right;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    text-align: right;
    color: #2DA430;
}
.bot {
    opacity:0;
    align-self: flex-start;
    background: #FFFFFF;
    transition: 0.3; /*Скорость перехода состояния элемента*/
    animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.8s; /* Задержка перед началом */
}
.wrp-list {
    display: flex;
    justify-content: flex-end;
}
.main {
    width: 70%;
    text-align: right;
    padding-right: 50px;
}
.wrp-list .makeStyles-root-4 {
    height: 100vh;
    position: fixed;
    left: 0;
}
a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}
.black {
    color: rgb(37, 37, 37);
}
.active {
    color: red;
}
@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
    }
 
